# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hw1/1_matrix
hw1/2_threadpool
hw2/ssw_xsimd

# macOS 
.DS_Store
._*

# slides/ 
slides/
*.pdf

# Mardown notes
note.md

# Upload folder
hw1_312511065/
hw2_312511065/

# Others
ok/